    <div class="card table-responsive">
        <div class="card-header">
            <h1>{{ tituloListaAutos }}</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <label>Filtrar por: </label>
                </div>
                <div class="col-md-4">
                    <input type="text" [(ngModel)]="filtro">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Filtrado por: {{filtro}}</h3>
                </div>
            </div>
        </div>
        <table class="table table-hover" *ngIf="listaAutos.length>0">
            <thead>
                <tr class="text-primary">
                    <th>
                        <button class="btn btn-primary"
                            (click) = "muestraImagenes()">
                            {{muestraImagen ? "Oculta ": "Muestra "}} imagen
                        </button>
                    </th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Color</th>
                    <th>Kilómetro</th>
                    <th>Precio</th>
                    <th>Calificación</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr class="" *ngFor="let auto of listaAutosFiltrados">
                    <td>
                        <p *ngIf="muestraImagen"><img [src]="auto.imagenUrl"
                            [style.width.px]="imagenWidth"
                            [style.margin.px]="imagenMargin">
                        </p>
                    </td>
                    <td>{{auto.marca}}</td>
                    <td><ins><strong><a class="nav-link link-primary" [routerLink]="['/auto', auto.id]">{{auto.modelo| lowercase | aEspacio:"-"}}</a></strong></ins></td>
                    <td><strong>{{auto.anio}}</strong></td>
                    <td><strong>{{auto.color}}</strong></td>
                    <td><strong>{{auto.kilometros| number}}</strong></td>
                    <td><strong>{{auto.precio| currency}}</strong></td>
                    <td>
                        <estrellas 
                            [calificacion] = "auto.calificacion"
                            (starsClick)="onClickCalificacion($event)">
                        </estrellas>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>